* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_text_color: #152700;
    --hovering_text_color: #686604;
    --main-background_color: rgb(212, 215, 62);
}

html {
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;
}


a {
    text-decoration: none;
    color: var(--main_text_color);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    padding-left: 5px;
    overflow-y: hidden;
    padding-top: 10px;
    /* border: 1px solid var(--main_text_color); */
    /* background-color: rgb(252, 252, 216); */
    box-shadow: 0 4px 4px rgba(57, 58, 0, 0.603);
    position: relative;
    z-index: 10;
}

.logo_header {
    width: 20%;
    height: 100px;
    overflow-y: hidden;
    /* border: 1px solid red; */
}

.logo {
    width: 80%;
    height: 100%;
    object-fit: contain;
    padding-left: 20px;
    transform: translateY(-20px);

}

nav {
    margin: 0 5% 0 5%;
    padding: 0 5%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;

}

nav>ul {
    display: flex;
    list-style: none;
    color: black;
    width: 100%;
    flex-direction: row;
    gap: 6px
}


nav>ul>li {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: visible;
    /* border: 1px solid red; */
}

nav>ul>li>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.2s ease;
    filter: drop-shadow(2px 2px 3px rgba(42, 43, 0, 0.63));
}

nav>ul>li>a>img:hover {
    transform: rotate(-2deg) translateY(-5px);
    filter: drop-shadow(4px 4px 4px rgba(42, 43, 0, 0.63));
}

/* 
nav>ul>li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: var(--hovering_text_color);
} */

nav>ul>li>a:hover {
    color: var(--hovering_text_color);
}

.social_media {
    display: flex;
    margin: 4px auto 0 auto;
    flex-direction: column;
    align-items: center;
    width: 5%;
    gap: 3px;
    position: relative;
}

.social_media2 {
    display: flex;
    margin: 4px auto 0 auto;
    flex-direction: column;
    align-items: center;
    width: 5%;
    gap: 3px;
    position: relative;
}


.instagram_logo {
    width: 25px;
    object-fit: contain;
}

.tiktok_logo {
    width: 25px;
    object-fit: contain;

}

.lang {
    margin: 10px auto 0 20px;
    width: 5%;
    color: var(--main_text_color);
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.9em;
}

.lang>p>a:hover {
    color: rgb(128, 139, 0);
}


.about_me_container {
    width: 100%;
    height: 1000px;
    background: radial-gradient(circle at 50% 30%, 
    rgb(212,215,62) 30%,
    rgb(252,252,216) 80%);
    position: relative;
}

.about_me_title {
    width: 50%;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    color: var(--main_text_color);
    text-align: left;
    position: absolute;
    top: 25%;
    left: 3%;
}

.about_me_subtitle {
    width: 50%;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-size: 3.2em;
    font-weight: 400;
    color: var(--main_text_color);
    text-align: left;
    position: absolute;
    top: 32%;
    left: 3%;
}

.about_me_paragraph {
    width: 50%;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-size: 2em;
    font-weight: 200;
    color: var(--main_text_color);
    text-align: left;
    position: absolute;
    top: 45%;
    left: 3%;
}

.about_me_profile_pic_base {
    width: 45%;
    height: auto;
    position: absolute;
    bottom: 50%;
    transform: translateY(45%);
    right: 0;
    z-index: 1;
    border-radius: 10% 0 0 10%;
    transition: filter 0.3s ease;
    filter: drop-shadow(-2px -2px 5px rgba(42, 43, 0, 0.43));
}




.about_me_profile_pic_top {
    width: 45%;
    height: auto;
    position: absolute;
    bottom: 50%;
    transform: translateY(45%);
    right: 0;
    z-index: 2;
    transition: transform 0.3s ease;
}

.about_me_profile_pic_top:hover {
    transform: scale(1.02) translateY(43%);
    cursor: pointer;
}

.about_me_profile_pic_top:hover~.about_me_profile_pic_base {
    filter: grayscale(100%);
}


.footer_container {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -4px 6px rgba(59, 51, 0, 0.473);
    display: flex;
    padding: 35px 10% 20px 25%;
    gap: 0;
    position: relative;
    z-index: 10;
}

.footer_text_container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    position: relative;
    z-index: 10;
    /* border: 2px solid rgb(173, 142, 0); */

}

.footer_text {
    font-family: "Oswald", sans-serif;
    font-size: 0.8em;
    color: rgb(27, 21, 0);
    text-align: left;
    position: relative;
    z-index: 11;
    width: 100%;
    /* border: 2px solid rgb(173, 142, 0); */
}

@media (max-width: 670px) {

    header {
        margin-top: 1px;
        margin-bottom: 2px;
        padding-bottom: 5px;
        height: 200px;
        overflow-y: hidden;
    }

    nav {
        font-size: 0.6em;
        width: 40%;
        padding-left: 10px;
        overflow: hidden;
    }

    nav>ul {
        flex-direction: column;
        gap: 5px;
        /* border-left: 1px solid var(--hovering_text_color); */
        overflow: visible;
    }

    .social_media {
        margin-top: 50px !important;
        transform: translateX(-30px);
    }

    .social_media2 {
        transform: translateX(-30px);
    }


    .lang {
        font-size: 0.6em;
        margin-top: 20px;
        transform: translateX(-20px) translateY(40px);

    }

    /* li:not(:last-child)::after {
        background-color: transparent !important;
    } */

    nav>ul>li>a>img {
        width: 63%;
        object-fit: contain;
        transition: all 0.2s ease;
        filter: drop-shadow(2px 2px 3px rgba(42, 43, 0, 0.63));
        overflow: visible;
    }

    .logo_header {
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .logo {
        transform: rotate(-90deg) translateX(-10px);
        width: 120px;
        overflow: visible;
        scale: 1.8;
    }


    .footer_container {
        padding: 35px 4% 20px 4% !important;

    }

    .footer_text {
        font-size: 0.7em !important;
    }

}

@media (max-width: 880px) {

    nav {
        font-size: 0.7em;
        width: 50%;
        overflow: visible;
    }

    .lang {
        font-size: 0.7em;

    }

    .social_media {
        width: 10%;
        margin-top: 0;
    }

    .social_media2 {
        width: 10%;
        margin-top: 0;
    }

    .instagram_logo {
        width: 20px;
        margin-top: 10px;
    }

    .tiktok_logo {
        width: 20px;
    }

    .logo_header {
        width: 25%;
    }

    nav>ul {
        gap: 2px;

    }

    .footer_container {
        padding: 35px 2% 20px 10%;
    }

}