* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_text_color: #152700;
    --hovering_text_color: #686604;
    --main-background_color: rgb(212, 215, 62);
}

html {
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: var(--main_text_color);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    padding-left: 5px;
    overflow-y: hidden;
    padding-top: 10px;
    /* border: 1px solid var(--main_text_color); */
    /* background-color: rgb(252, 252, 216); */
    box-shadow: 0 4px 4px rgba(57, 58, 0, 0.603);
    position: relative;
    z-index: 10;
}

.logo_header {
    width: 20%;
    height: 100px;
    overflow-y: hidden;
    /* border: 1px solid red; */
}

.logo {
    width: 80%;
    height: 100%;
    object-fit: contain;
    padding-left: 20px;
    transform: translateY(-20px);

}

nav {
    margin: 0 5% 0 5%;
    padding: 0 5%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-y: auto;

}

nav>ul {
    display: flex;
    list-style: none;
    color: black;
    width: 100%;
    flex-direction: row;
    gap: 6px
}


nav>ul>li {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: visible;
    /* border: 1px solid red; */
}

nav>ul>li>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.2s ease;
    filter: drop-shadow(2px 2px 3px rgba(42, 43, 0, 0.63));
}

nav>ul>li>a>img:hover {
    transform: rotate(-2deg) translateY(-5px);
    filter: drop-shadow(4px 4px 4px rgba(42, 43, 0, 0.63));
}

/* 
nav>ul>li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: var(--hovering_text_color);
} */

nav>ul>li>a:hover {
    color: var(--hovering_text_color);
}

.social_media {
    display: flex;
    margin: 4px auto 0 auto;
    flex-direction: column;
    align-items: center;
    width: 5%;
    gap: 3px;
    position: relative;
}

.social_media2 {
    display: flex;
    margin: 4px auto 0 auto;
    flex-direction: column;
    align-items: center;
    width: 5%;
    gap: 3px;
    position: relative;
}


.instagram_logo {
    width: 25px;
    object-fit: contain;
}

.tiktok_logo {
    width: 25px;
    object-fit: contain;

}

.lang {
    margin: 10px auto 0 20px;
    width: 5%;
    color: var(--main_text_color);
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.9em;
}

.lang>p>a:hover {
    color: rgb(128, 139, 0);
}

.title{
    font-family: "Oswald", sans-serif;
    font-size: 5.2em;
    text-align: center;
    width: 100%;
    color: #152700;
    margin: 50px auto;
}

.title>p {
    animation: blurPulse 12s infinite;
}

@keyframes blurPulse {
  0%, 100% {
    filter: blur(0);
    color: #a9b80b; 
  }
  25% {
    filter: blur(4px);
    color: #152700;
  }
  50% {
    filter: blur(0);
    color: #808b00;
  }
  75% {
    filter: blur(4px);
    color: #a9b80b
  }
}

/* gallery */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 5px;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.gallery:hover .gallery__image {
  filter: grayscale(1);
  cursor: pointer;
}

.gallery__link {
  overflow: hidden;
  height: 400px;
  max-height: 400px;
}

.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
  opacity: 1;
}

.gallery__thumb {
  position: relative;
  height: 100%;
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.gallery__image:hover {
  transform: scale(1.1);
}

.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  color: white;
  opacity: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}


/* gallery end */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

/* Modal Image */
.modal-content {
  margin: auto;
  display: block;
  max-width: 95%;
  max-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  animation: zoom 0.3s;
}

/* Caption text */
#caption {
  margin: 20px auto;
  text-align: center;
  color: #ccc;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

/* Close button */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}

/* Zoom animation */
@keyframes zoom {
  from {transform: scale(0.7)}
  to {transform: scale(1)}
}

/* modal end */

.footer_container {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -4px 6px rgba(59, 51, 0, 0.473);
    display: flex;
    padding: 35px 10% 20px 25%;
    gap: 0;
    position: relative;
    z-index: 10;
}

.footer_text_container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    position: relative;
    z-index: 10;
    /* border: 2px solid rgb(173, 142, 0); */

}

.footer_text {
    font-family: "Oswald", sans-serif;
    font-size: 0.8em;
    color: rgb(27, 21, 0);
    text-align: left;
    position: relative;
    z-index: 11;
    width: 100%;
    /* border: 2px solid rgb(173, 142, 0); */
}

@media (max-width: 670px) {

    header {
        margin-top: 1px;
        margin-bottom: 2px;
        padding-bottom: 5px;
        height: 200px;
        overflow-y: hidden;
    }

    nav {
        font-size: 0.6em;
        width: 40%;
        padding-left: 10px;
        overflow: hidden;
    }

    nav>ul {
        flex-direction: column;
        gap: 5px;
        /* border-left: 1px solid var(--hovering_text_color); */
        overflow: visible;
    }

    .social_media {
        margin-top: 50px !important;
        transform: translateX(-30px);
    }

    .social_media2 {
        transform: translateX(-30px);
    }


    .lang {
        font-size: 0.6em;
        margin-top: 20px;
        transform: translateX(-20px) translateY(40px);

    }

    /* li:not(:last-child)::after {
        background-color: transparent !important;
    } */

    nav>ul>li>a>img {
        width: 63%;
        object-fit: contain;
        transition: all 0.2s ease;
        filter: drop-shadow(2px 2px 3px rgba(42, 43, 0, 0.63));
        overflow: visible;
    }

    .logo_header {
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .logo {
        transform: rotate(-90deg) translateX(-10px);
        width: 120px;
        overflow: visible;
        scale: 1.8;
    }


    .footer_container {
        padding: 35px 4% 20px 4% !important;

    }

    .footer_text {
        font-size: 0.7em !important;
    }

}

@media (max-width: 880px) {

    nav {
        font-size: 0.7em;
        width: 50%;
        overflow: visible;
    }

    .lang {
        font-size: 0.7em;

    }

    .social_media {
        width: 10%;
        margin-top: 0;
    }

    .social_media2 {
        width: 10%;
        margin-top: 0;
    }

    .instagram_logo {
        width: 20px;
        margin-top: 10px;
    }

    .tiktok_logo {
        width: 20px;
    }

    .logo_header {
        width: 25%;
    }

    nav>ul {
        gap: 2px;

    }

    .footer_container {
        padding: 35px 2% 20px 10%;
    }

}